@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Areas.Samples.Models.RegistrationVM

@{
    ViewBag.Title = "Step3GetCustomerInformation";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/Samples/Views/Shared/_MainLayout.cshtml");

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<link href="~/Content/Plan.css" rel="stylesheet" />
<body style="padding-bottom:100px;">
    <h1 class="stepNumber" style="color:orange; padding-bottom: 50px;">Step 3/5: Enter customer information</h1>

    <form action="" method="post" id="customerForm">
        <table class="customerTable">
            <tr>
                <td>
                    <h1 style="color:darkslategrey; margin-top: -165px">Contact information</h1>
                    <div class="customerCustomerInfo">
                        @Html.ValidationMessageFor(m => m.CustomerInformation.FirstName) <br />
                        @Html.Label("First Name:")
                        @Html.TextBoxFor(m => m.CustomerInformation.FirstName, new { @Value = Model.CustomerInformation.FirstName, @placeholder = "First name" }) <br />


                        @Html.ValidationMessageFor(m => m.CustomerInformation.LastName) <br />
                        @Html.Label("Last Name:")
                        @Html.TextBoxFor(m => m.CustomerInformation.LastName, new { @Value = Model.CustomerInformation.LastName, @placeholder = "Last name" }) <br />

                        @Html.ValidationMessageFor(m => m.CustomerInformation.PrimaryEmail) <br />
                        @Html.Label("Email Address:")
                        @Html.TextBoxFor(m => m.CustomerInformation.PrimaryEmail, new { @Value = Model.CustomerInformation.PrimaryEmail, @placeholder = "example@email.com" }) <br />

                        @Html.ValidationMessageFor(m => m.CustomerInformation.PrimaryPhone) <br />
                        @Html.Label("Phone:")
                        @Html.TextBoxFor(m => m.CustomerInformation.PrimaryPhone, new { @Value = Model.CustomerInformation.PrimaryPhone, @placeholder = "(XXX) XXX-XXXX" })  <br />
                    </div>

                </td>

                <td class="customerBetweenColumnSpace"></td>
                <td style="vertical-align:top;">
                    <h1 style="color:darkslategrey;">Billing information</h1>
                    <div class="customerBillingInfo">
                        @Html.ValidationMessageFor(m => m.BillingAddress.CompanyName)   <br />
                        @Html.Label("Company Name:")
                        @Html.TextBoxFor(m => m.BillingAddress.CompanyName, new { @Value = Model.BillingAddress.CompanyName, @placeholder = "Company name" }) <br />

                        @Html.ValidationMessageFor(m => m.BillingAddress.Line1) <br />
                        @Html.Label("Primary Address:")
                        @Html.TextBoxFor(m => m.BillingAddress.Line1, new { @Value = Model.BillingAddress.Line1, @placeholder = "Primary address" })  <br />



                        @Html.Label("Secondary Address:")
                        @Html.ValidationMessageFor(m => m.BillingAddress.Line2)     <br />
                        @Html.TextBoxFor(m => m.BillingAddress.Line2, null, new { @Value = Model.BillingAddress.Line2, @placeholder = "Secondary address" })

                        @Html.ValidationMessageFor(m => m.BillingAddress.City)      <br />
                        @Html.Label("City:")
                        @Html.TextBoxFor(m => m.BillingAddress.City, null, new { @Value = Model.BillingAddress.City, @placeholder = "City" })   <br />

                        @Html.ValidationMessageFor(m => m.BillingAddress.PostalZip)     <br />
                        @Html.Label("Postal Code:")
                        @Html.TextBoxFor(m => m.BillingAddress.PostalZip, null, new { @Value = Model.BillingAddress.PostalZip, @placeholder = "Postal zip" })  <br />


                        @Html.ValidationMessageFor(m => m.BillingAddress.CountryId)     <br />
                        @Html.Label("Country:")
                        @Html.DropDownListFor(m => m.BillingAddress.CountryId, Model.ListOfCountriesSLI, "Select your country", new { @class = "country" })   <br />

                        @Html.Label("State:")
                        @Html.DropDownListFor(m => m.BillingAddress.StateId, Enumerable.Empty<SelectListItem>(), "Select your state", new { @class = "state" })

                        <br />
                        &nbsp;
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <div style="text-align:center">
            @Html.ValidationSummary("Please enter your information. We will save the information should you wish to return to this page.", new { @class = "validation-summary-errors" })
        </div>
        <div style="text-align:center; align-content: center">
            <input type="submit" value="Back: Choose Plan Products" name="action:Step2GetPlanProducts" />
            <input type="submit" value="Next: Invoice Preview" name="action:Step4GetInvoice" style="background-color:orange" />
        </div>

        <div style="display:none">
            @Html.TextBoxFor(m => m.Step, new { @Value = 3 })
        </div>

    </form>




</body>

<script>
    $(document).ready(function () {

        var model = @Html.HtmlConvertToJson(Model);
        var selectedCountryCountry;

        if ($(".country").val() != 0)
        {
            //we find the selected country's position in the countries list in order to access its states
            for (var i = 0; i < model.ListOfCountriesCountry.length; i++)
            {
                if ($(".country").val() == model.ListOfCountriesCountry[i].id)
                {
                    selectedCountryCountry = model.ListOfCountriesCountry[i];
                }
            }

            $(".state").empty();

            for (var i = 0; i < selectedCountryCountry.states.length; i++) {
                $(".state").append($('<option>', {
                    value: selectedCountryCountry.states[i].id,
                    text: selectedCountryCountry.states[i].name
                }));
            };
        }





        $(".country").click(
        function () {
            $(".state").prop("disabled", false);

            //the value of the selcted country
            var selectedCountryValue = $(".country").val();

            //we find the selected country's position in the countries list in order to access its states
            for (var i = 0; i < model.ListOfCountriesCountry.length; i++)
            {
                if (selectedCountryValue == model.ListOfCountriesCountry[i].id)
                {
                    selectedCountryCountry = model.ListOfCountriesCountry[i];
                }
            }

            $(".state").empty();

            for (var i = 0; i < selectedCountryCountry.states.length; i++) {
                $(".state").append($('<option>', {
                    value: selectedCountryCountry.states[i].id,
                    text: selectedCountryCountry.states[i].name
                }));

            };
        });

    });
</script>
