@model Fusebill.eCommerceWorkflow.Models.RegistrationVM

@{

    ViewBag.Title = "Registration Sample";
}

<link rel="stylesheet" href="~/Content/Plan.css" />

<body style="padding-bottom: 65px;">
    <h1 style="margin-top: 200px; text-align:center; color: orange;">Step 1/5: Choose your plan</h1>

    <br />
    @foreach (var plan in Model.AvailablePlans)
    {
        <form action="" method="post">

            <div class="plan_plan">
                <p>&nbsp;</p>
                <div class="plan_descriptionAndTitle">
                    <h2 class="plan_title">Name: @plan.Name</h2>
                    <p class="plan_description">Description: @plan.Description </p>

                    <p class="plan_longdescription">Long Description: @plan.LongDescription</p>
                </div>

                <div class="plan_miscellaneous">
                    <ul>

                        <li>1 user</li>
                        <li>Limited Access</li>
                        <li>5MB of space</li>
                        <li>No support</li>
                    </ul>
                </div>

                <div style="display:none">
                    @Html.TextBoxFor(m => m.SelectedPlanId, new { @Value = plan.Id })
                    @Html.TextBoxFor(m => m.SelectedPlanFrequencyID, new { @Value = plan.PlanFrequencies[0].Id })
                </div>
                <div style="left:50%; position:relative; width: 10%;">
                    <input type="submit" value="Buy" name="action:Step2GetPlanProducts" />
                </div>
                <br /> <br />
            </div>
            <div style="display:none">
                @Html.TextBoxFor(m => m.Step, new { @Value = 1 })
            </div>
        </form>
    }

</body>