@model Fusebill.eCommerceWorkflow.Models.Step1_Plans_VM

@{
    Layout = "";
    ViewBag.Title = "Registration Sample";
}


<h2>Registration AHHHHHH!!!!</h2>

<h3>Plans</h3>

  @foreach (var plan in Model.AvailablePlans)
    {
using (Html.BeginForm("Step2_GetPlanProducts", "Registration", FormMethod.Post))
{

        <div style="float: left; width: 500px;">
            <h4>@plan.Name</h4>
            <p>Description: @plan.Description</p>

            <p>Long Description:  @plan.LongDescription</p>
            <ul>
                <li>1 user</li>
                <li>Limited Access</li>
                <li>5MB of space</li>
                <li>No support</li>
                <li>
                    @Html.TextBoxFor(m => m.SelectedPlanID, new { @Value = @plan.Id })
                </li>
            </ul>
            <input name="btnBuyPlan" type="submit" value="Buy" />
            <br />
            <br />
        </div>
    }

}

