@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Models.RegistrationVM

@{
    ViewBag.Title = "Step5GetPayment";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<link href="~/Content/Plan.css" rel="stylesheet" />
<h1 style="margin-top: 200px; text-align:center; color:orange">Step 5/5: Enter billing information</h1>


<body style="padding-bottom: 100px">


    <br />
    <br />
    <div style="color:red; text-align:center">
        @TempData["InvalidCreditCard"]
    </div>
    <div class="paymentTable">
        <form action="" method="post">

            <h1 style="margin-left: -25px; color:darkslategray">Credit Card Information</h1>

            <label>Card Number</label>
            @Html.DropDownListFor(m => m.CreditCardNumber, Model.ListOfCreditCards, "Select your card number") <br /> <br />



            <label>CVV</label>
            @Html.TextBoxFor(m => m.Cvv, new { @placeholder = "XXX" }) <br /> <br />



            <label>Expiration Month</label>
            @Html.DropDownListFor(m => m.ExpirationMonth, Model.ListOfExpirationMonths, "Select your expiration month") <br /> <br />


            <label>Expiration Year</label>
            @Html.DropDownListFor(m => m.ExpirationYear, Model.ListOfExpirationYears, "Select your expiration year") <br />


            <br />
            <h1 style="margin-left: -25px; color:darkslategray">Shipping Information</h1>

            @if (Model.CCAddressSameAsBilling)
            {
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td>@Model.CustomerInformation.FirstName</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>@Model.CustomerInformation.LastName</td>
                    </tr>
                    <tr>
                        <td>Primary Address:</td>
                        <td>@Model.BillingAddress.Line1</td>
                    </tr>
                    <tr>
                        <td>Secondary Address:</td>
                        <td>@Model.BillingAddress.Line2</td>
                    </tr>
                    <tr>
                        <td>Postal Code:</td>
                        <td>@Model.BillingAddress.PostalZip</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>@Model.BillingAddress.City</td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>@Model.BillingAddress.State</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>@Model.BillingAddress.Country</td>
                    </tr>
                </table>

            }

            @if (!Model.CCAddressSameAsBilling)
            {
                @Html.ValidationMessageFor(m => m.CreditAddress.Line1)    <br />
                <label>Primary Address</label>
                @Html.TextBoxFor(m => m.CreditAddress.Line1, new { @placeholder = "Primary Address" }) <br />

                @Html.ValidationMessageFor(m => m.CreditAddress.Line2)    <br />
                <label>Secondary Address</label>
                @Html.TextBoxFor(m => m.CreditAddress.Line2, new { @placeholder = "Secondary Address" })  <br />

                @Html.ValidationMessageFor(m => m.CreditAddress.PostalZip)    <br />
                <label>Zip</label>
                @Html.TextBoxFor(m => m.CreditAddress.PostalZip, new { @placeholder = "Zip Code" })  <br />

                @Html.ValidationMessageFor(m => m.CreditAddress.City) <br />
                <label>City</label>
                @Html.TextBoxFor(m => m.CreditAddress.City, new { @placeholder = "City" })    <br />

                @Html.ValidationMessageFor(m => m.CreditAddress.CountryId)    <br />
                @Html.Label("Country:")
                @Html.DropDownListFor(m => m.CreditAddress.CountryId, Model.ListOfCountriesSLI, "Select your country", new { @class = "country" }) <br />

                @Html.ValidationMessageFor(m => m.CreditAddress.StateId)  <br />
                @Html.Label("State:")
                @Html.DropDownListFor(m => m.CreditAddress.StateId, Enumerable.Empty<SelectListItem>(), "Select your state", new { @class = "state" })  <br />
            }

            <br />
            <br />

            <div>
                <input type="submit" value="Back: Invoice Preview" name="action:Step4GetInvoice">
                <input type="submit" value="Submit Card" name="action:Step6GetActivation" style="background-color: orange;">
            </div>
        </form>
    </div>
</body>

<script>
    $(document).ready(function () {

        var model = @Html.HtmlConvertToJson(Model);
        var selectedCountryCountry;
        
        if ($(".country").val() != 0)
        {
            $(".TestingPara").text("The value is NOT 0");

            //we find the selected country's position in the countries list in order to access its states
            for (var i = 0; i < model.ListOfCountriesCountry.length; i++)
            {
                if ($(".country").val() == model.ListOfCountriesCountry[i].id)
                {
                    selectedCountryCountry = model.ListOfCountriesCountry[i];
                }
            }

            $(".state").empty();

            for (var i = 0; i < selectedCountryCountry.states.length; i++) {
                $(".state").append($('<option>', {
                    value: selectedCountryCountry.states[i].id,
                    text: selectedCountryCountry.states[i].name
                }));
            };
        }
    


        $(".country").change(

            function () {
                $(".state").prop("disabled", false);

                //the value of the selcted country
                var selectedCountryValue = $(".country").val();

                //we find the selected country's position in the countries list in order to access its states
                for (var i = 0; i < model.ListOfCountriesCountry.length; i++)
                {
                    if (selectedCountryValue == model.ListOfCountriesCountry[i].id)
                    {
                        var selectedCountryCountry = model.ListOfCountriesCountry[i];
                    }
                }

                $(".state").empty();

                for (var i = 0; i < selectedCountryCountry.states.length; i++) {
                    $(".state").append($('<option>', {
                        value: selectedCountryCountry.states[i].id,
                        text: selectedCountryCountry.states[i].name

                    }));
                };
            });



    });
</script>
