@model Fusebill.eCommerceWorkflow.Models.Step4PreviewInvoiceVM


@{
    ViewBag.Title = "Step4 GetPreviewInvoice";
}

<link rel="stylesheet" href="~/Content/Plan.css" />


<h1 style="margin-top: 200px; text-align:center">Step 4: Invoice Preview</h1>

<form action="" method="post">
    <div style="margin:auto; width: 80%;">
        <div style="margin-right: auto; margin-left: auto; margin-top: 80px; ">
            <table class="plan_invoice__customerTable">
                <tr>
                    <td>First Name:</td>
                    <td>@Model.FirstName</td>
                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td>@Model.LastName</td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>

                <tr>
                    <td>Phone Number:</td>
                    <td>@Model.Phone</td>
                </tr>

                <tr>
                    <td>Usage:</td>
                    <td>@Model.Usage</td>
                </tr>

                <tr>
                    <td>Default Value:</td>
                    <td>@Model.DefaultValue</td>
                </tr>

                <tr>
                    <td>Primary Address:</td>
                    <td>@Model.Address1</td>
                </tr>

                <tr>
                    <td>Secondary Address:</td>
                    <td>@Model.Address2</td>
                </tr>

                <tr>
                    <td>City:</td>
                    <td>@Model.City</td>
                </tr>

                <tr>
                    <td>Zip Code:</td>
                    <td>@Model.ZipCode</td>
                </tr>
            </table>
        </div>





        <div style="margin-top: 80px;">
            <table class="plan_invoice_productTable">
                <tr class="plan_invoice_productTableTitle">
                    <td><h3>Product</h3></td>
                    <td><h3>Quantity</h3></td>
                    <td><h3>Unit price</h3></td>
                    <td><h3>Total Amount</h3></td>
                </tr>

                @for (int i = 0; i < Model.AvailableProducts.Count; i++)
                {
                    <tr class="plan_invoice_productTableProduct">
                        <td>@Model.AvailableProducts[i].ProductName</td>
                        <td>@((Model.EmploymentType[i].Checked == true) ? Model.AvailableProducts[i].Quantity : 0)</td>
                        <td>WE SHALL OBTAIN THE PRICE LATER</td>
                        <td>UNIT PRICE TIMES QUANTITY</td>

                    </tr>
                }
            </table>

            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>SUM OF TOTAL AMOUNTS</td>
                </tr>
                <tr>
                    <td>CST(5%)</td>
                    <td>MONEY</td>
                </tr>
                <tr>
                    <td>CANADA GST/TPS (5%)</td>
                    <td>MONEY</td>
                </tr>
                <tr>
                    <td>Pending Charges</td>
                    <td>SUM OF ALL PREVIOUS MONEYS</td>
                </tr>
            </table>
        </div>
    </div>



    <div style="display: none">
    <div>
        @Html.CheckBoxFor(m => m.IsSameAsBillingAddress)

        @for (int i = 0; i < Model.EmploymentType.Count; i++)
        {
            @Html.CheckBoxFor(m => m.EmploymentType[i].Checked)
        }
        <table style="width: 100%;">
            <tr>
                <td style="width:50%;">
                    @Html.Label("First Name:")
                    @Html.EditorFor(m => m.FirstName, new { @Value = Model.FirstName })
                </td>
                <td style="width:50%">
                    @Html.Label("Last Name:")

                    @Html.EditorFor(m => m.LastName)
                </td>
            </tr>
        </table>



        @Html.Label("Email address:")

        @Html.EditorFor(m => m.Email)
        <br />
        <br />

        @Html.Label("Phone:")

        @Html.EditorFor(m => m.Phone)
        <br />
        <br />

        @Html.Label("Company Name:")
        <br />
        @Html.EditorFor(m => m.CompanyName)
        <br />
        <br />

        @Html.Label("Usage:")

        @Html.EditorFor(m => m.Usage)
        <br />
        <br />

        @Html.Label("Mandatory:")

        @Html.EditorFor(m => m.Mandatory)
        <br />
        <br />

        @Html.Label("Default Value:")

        @Html.EditorFor(m => m.DefaultValue)
        <br />
        <br />

    </div>
   
    <br />
    <br />
    <br />
    <br />
    <div style="border: 1px solid grey; margin-left: auto; margin-right: auto; width: 60%;">

        <h3 class="plan_customer_tableTitle">Billing Address</h3>

        <div style="margin: 20px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width:50%;">
                        @Html.Label("Address 1:")
                        @Html.EditorFor(m => m.Address1)
                    </td>
                    <td style="width:50%; ">
                        @Html.Label("Address 2:")
                        @Html.EditorFor(m => m.Address2)
                    </td>
                </tr>
            </table>


            @Html.Label("City:") <br />
            @Html.EditorFor(m => m.City) <br /> <br />

            @Html.Label("Zip Code:") <br />
            @Html.EditorFor(m => m.ZipCode) <br /> <br />



        </div>
    </div>

    <div style="margin:auto">
        For reference, this is the selected plan ID
        @Html.TextBoxFor(m => m.SelectedPlanID, new { @Value = @Model.SelectedPlanID })
    </div>

    <div style="margin:auto">
        For reference, this is the selected plan ID
        @Html.TextBoxFor(m => m.SelectedPlanName, new { @Value = @Model.SelectedPlanName })
    </div>


    </div>








    <input type="submit" value="Back" name="action:Step3GetCustomerDetails" />
    <input type="submit" value="Proceed to Checkout" name="action:Step5GetCustomerCheckout" />

</form>