@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Models.RegistrationVM


@{
    ViewBag.Title = "Step4GetInvoice";
}



<h1 style="margin-top: 200px; text-align:center">Step 4/5: Invoice Preview</h1>
<link href="~/Content/Plan.css" rel="stylesheet" />


<form action="" method="post">
    <p>&nbsp;</p>
    <table class="invoiceTable">
        <tr>
            <td>@Html.Label("First Name:")</td>
            <td>@Model.returnedCustomerActivation.FirstName</td>
        </tr>


        <tr>
            <td>@Html.Label("Last Name:")</td>
            <td>@Model.returnedCustomerActivation.LastName</td>
        </tr>

        <tr>
            <td>@Html.Label("Primary Email:")</td>
            <td>@Model.returnedCustomerActivation.PrimaryEmail</td>
        </tr>

        <tr>
            <td>@Html.Label("Primary Phone:")</td>
            <td>@Model.returnedCustomerActivation.PrimaryPhone</td>
        </tr>

        <tr>
            <td>@Html.Label("Primary Address:")</td>
            <td>@Model.billingAddress.Line1</td>
        </tr>

        <tr>
            <td>@Html.Label("Secondary Address:")</td>
            <td>@Model.billingAddress.Line1</td>
        </tr>

        <tr>
            <td>@Html.Label("Postal Code:")</td>
            <td>@Model.billingAddress.PostalZip</td>
        </tr>

        <tr>
            <td>@Html.Label("City:")</td>
            <td>@Model.billingAddress.City</td>
        </tr>

        <tr>
            <td>@Html.Label("State:")</td>
            <td>@Model.billingAddress.State</td>
        </tr>

        <tr>
            <td>@Html.Label("Country:")</td>
            <td>@Model.billingAddress.Country</td>
        </tr>

       

        <tr>
            <td>@Html.Label("Subtotal:") </td>
            <td>@Model.returnedCustomerActivation.InvoicePreview.Subtotal
        </tr>

        <tr>
            <td> @Html.Label("Total taxes:")  </td>
            <td>@Model.returnedCustomerActivation.InvoicePreview.TotalTaxes
        </tr>

        <tr>
            <td> @Html.Label("Total:")  </td>
            <td>@Model.returnedCustomerActivation.InvoicePreview.Total</td>
        </tr>

    </table>

    <br />

    <div style="text-align:center; align-content: center">
        <input type="submit" value="Back: Customer Information" name="action:Step3GetCustomerInformation" />
        <input type="submit" value="Next: Checkout" name="action:Step5GetPayment" />
    </div>
</form>

<script>
    var model = @Html.HtmlConvertToJson(Model);
</script>

