@model Fusebill.eCommerceWorkflow.Models.Step4_PreviewInvoice_VM


@{
    ViewBag.Title = "Step4_GetPreviewInvoice";
}

<h2>Registration AHHHHHH!!!! => Preview Invoice</h2>

<p>First Name: @Model.FirstName </p>

<p>LastName @Model.LastName</p>

<p>Email @Model.Email</p>

<p>Phone @Model.Phone</p>

<p>Company Name: @Model.CompanyName</p>

<p>Usage @Model.Usage</p>

<p>Mandatory @Model.Mandatory</p>

<p>Default Value @Model.DefaultValue</p>

<h2>BILLING INFORMATION</h2>
<p>Address1 @Model.Address1</p>

<p>Address2 @Model.Address2</p>

<p>City @Model.City</p>

<p>Zip Code @Model.ZipCode</p>


@Html.Label("Email address:") <br />
@Html.EditorFor(m => m.Email) 

@Html.Label("Phone:") <br />
@Html.EditorFor(m => m.Phone) <br /> <br />

@Html.Label("Company Name:") <br />
@Html.EditorFor(m => m.CompanyName) <br /> <br />

@Html.Label("Usage:") <br />
@Html.EditorFor(m => m.Usage) <br /> <br />

@Html.Label("Mandatory:") <br />
@Html.EditorFor(m => m.Mandatory) <br /> <br />

@Html.Label("Default Value:") <br />
@Html.EditorFor(m => m.DefaultValue) <br /> <br />


<h4>Billing Address</h4>
@Html.Label("Address 1:") <br />
@Html.EditorFor(m => m.Address1) <br /> <br />

@Html.Label("Address 2:") <br />
@Html.EditorFor(m => m.Address2) <br /> <br />

@Html.Label("City:") <br />
@Html.EditorFor(m => m.City) <br /> <br />

@Html.Label("Zip Code:") <br />
@Html.EditorFor(m => m.ZipCode) <br /> <br />