@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Models.RegistrationVM


@{
    ViewBag.Title = "Step4GetInvoice";
}

<link href="~/Content/Plan.css" rel="stylesheet" />

<body style="padding-bottom: 100px;">
    <h1 style="margin-top: 200px; text-align:center; color: orange;">Step 4/5: Invoice Preview</h1>


    <form action="" method="post">
        <p>&nbsp;</p>
        <table class="invoiceTable">
            <tr>
                <td>@Html.Label("First Name:")</td>
                <td>@Model.ActivatedCustomer.FirstName</td>
            </tr>


            <tr>
                <td>@Html.Label("Last Name:")</td>
                <td>@Model.ActivatedCustomer.LastName</td>
            </tr>

            <tr>
                <td>@Html.Label("Primary Email:")</td>
                <td>@Model.ActivatedCustomer.PrimaryEmail</td>
            </tr>

            <tr>
                <td>@Html.Label("Primary Phone:")</td>
                <td>@Model.ActivatedCustomer.PrimaryPhone</td>
            </tr>

            <tr>
                <td>@Html.Label("Primary Address:")</td>
                <td>@Model.BillingAddress.Line1</td>
            </tr>

            <tr>
                <td>@Html.Label("Secondary Address:")</td>
                <td>@Model.BillingAddress.Line1</td>
            </tr>

            <tr>
                <td>@Html.Label("Postal Code:")</td>
                <td>@Model.BillingAddress.PostalZip</td>
            </tr>

            <tr>
                <td>@Html.Label("City:")</td>
                <td>@Model.BillingAddress.City</td>
            </tr>

            <tr>
                <td>@Html.Label("State:")</td>
                <td>@Model.BillingAddress.State</td>
            </tr>

            <tr>
                <td>@Html.Label("Country:")</td>
                <td>@Model.BillingAddress.Country</td>
            </tr>



            <tr>
                <td>@Html.Label("Subtotal:") </td>
                <td>@Model.ActivatedCustomer.InvoicePreview.Subtotal
            </tr>

            <tr>
                <td> @Html.Label("Total taxes:")  </td>
                <td>@Model.ActivatedCustomer.InvoicePreview.TotalTaxes
            </tr>

            <tr>
                <td> @Html.Label("Total:")  </td>
                <td>@Model.ActivatedCustomer.InvoicePreview.Total</td>
            </tr>

        </table>

        <br />

        <div style="text-align:center; align-content: center">
            <input type="submit" value="Back: Customer Information" name="action:Step3GetCustomerInformation" />
            <input type="submit" value="Next: Checkout" name="action:Step5GetPayment" style="background-color: orange;" />
        </div>
    </form>
</body>