@model Fusebill.eCommerceWorkflow.Models.RegistrationVM


@{
    ViewBag.Title = "Step2GetPlanProducts";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<link href="~/Content/Plan.css" rel="stylesheet" />

<h1 style="margin-top: 200px; text-align:center">Step 2/5: Choose your plan products</h1>

<br />
<form action="" method="post">
    <div style="align-content:center; text-align:center">
        <table class="products_table">
            <thead class="products_tableHead">
                <tr>
                    <td class="productsFirstColumn">Include</td>
                    <td class="productsThirdColumn">Product</td>
                    <td class="productsSecondColumn">Quantity</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var product in Model.AvailableProducts)
                       {
                    <tr>
                        @if (product.IsOptional == false)
                        {
                            <td class="productsFirstColumn">Included</td>
                            <td style="display:none">@Html.CheckBoxFor(m => m.planProductIncludes[@product.ProductName])</td>
                                                        }
                        @if (product.IsOptional == true)
                        {
                            <td class="productsFirstColumn">@Html.CheckBoxFor(m => m.planProductIncludes[@product.ProductName] )</td>
                        }
                            <td class="productsThirdColumn">
                                <strong>Name: @product.ProductName</strong> <br />
                                Description: @product.ProductDescription </td>
                            <td class="productsSecondColumn">@Html.TextBoxFor(m => m.QuantityOfProducts[product.ProductName], new { @Value = Model.QuantityOfProducts[@product.ProductName]})</td>
                        </tr>
               
                }
                    </tbody>
                </table>
                    <br />
                    <input id="Button1" type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Registration") + "'");" />

                    <input type="submit" value="Next" name="action:Step3GetCustomerInformation" />
                    <p class="hey"> hi </p>
                </div>
            </form>

