@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Models.RegistrationVM

@{
    ViewBag.Title = "Step3GetCustomerInformation";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<h2>Step3GetCustomerInformation</h2>

<form action="" method="post">

    <h1>Customer information</h1>
    @Html.Label("First Name:")
    @Html.TextBoxFor(m => m.customerInformation.FirstName, new { @Value = Model.customerInformation.FirstName, @placeholder = "First name" }) 
   
    @Html.Label("Last Name:")
    @Html.TextBoxFor(m => m.customerInformation.LastName, new { @Value = Model.customerInformation.LastName, @placeholder = "Last name" }) 

    @Html.Label("Title:")
    @Html.TextBoxFor(m => m.customerInformation.Title, new { @Value = Model.customerInformation.Title, @placeholder = "Title (eg, Mrs.)" }) 

    @Html.Label("Email Address:")
    @Html.TextBoxFor(m => m.customerInformation.PrimaryEmail, new { @Value = Model.customerInformation.PrimaryEmail, @placeholder = "example@email.com" }) 

    @Html.Label("Phone:")
    @Html.TextBoxFor(m => m.customerInformation.PrimaryPhone, new { @Value = Model.customerInformation.PrimaryPhone, @placeholder = "(XXX) XXX-XXXX" }) 

    @Html.Label("Company Name:")
    @Html.TextBoxFor(m => m.customerInformation.CompanyName, new { @Value = Model.customerInformation.CompanyName, @placeholder = "Company Name" }) 

    <h1>Billing information</h1>

  

    @Html.Label("Company Name:")
    @Html.TextBoxFor(m => m.billingAddress.CompanyName)

    @Html.Label("Primary Address:")
    @Html.TextBoxFor(m => m.billingAddress.Line1)

    @Html.Label("Secondary Address:")
    @Html.TextBoxFor(m => m.billingAddress.Line2)

    @Html.Label("City:")
    @Html.TextBoxFor(m => m.billingAddress.City)

    @Html.Label("Postal Code:")
    @Html.TextBoxFor(m => m.billingAddress.PostalZip)


    @Html.Label("Country:")
    @Html.DropDownListFor(m => m.billingAddress.CountryId, Model.listOfCountriesSLI, "Select your country", new { @class = "country" })



    @Html.Label("State:")
    @Html.DropDownListFor(m => m.billingAddress.StateId, Enumerable.Empty<SelectListItem>(), "Select your state", new { @class = "state" })




  <p id="testPara">sdofijsdo</p>
    <p id="wer">sdf</p>



    <input type="submit" value="Back" name="action:Step2GetPlanProducts" />

          <input type="submit" value="To Subscription" name="action:Step4GetInvoice" />

      </form>

<script>
    $(document).ready(function () {

        var model = @Html.HtmlConvertToJson(Model);

        $(".state").prop("disabled", true);
        $(".country").change(
        function () {
            alert("Hold");
            $(".state").prop("disabled", false);

            //the value of the selcted country
            var selectedCountryValue = $(".country").val();
            var selectedCountryCountry;

            //we find the selected country's position in the countries list in order to access its states
            for (var i = 0; i < model.listOfCountriesCountry.length; i++)
            {
                $('#testPara').css('background-color', 'blue');

                if (selectedCountryValue == model.listOfCountriesCountry[i].id)
                {
                    var selectedCountryCountry= model.listOfCountriesCountry[i];
                }
            }
             
            $('#wer').text(selectedCountryCountry.name);
            
            $(".state").empty();

            for (var i = 0; i < selectedCountryCountry.states.length; i++) {
                $(".state").append($('<option>', {
                    value: selectedCountryCountry.states[i].id,
                  text: selectedCountryCountry.states[i].name

                }));
            };



        });

    });
</script>
