@model Fusebill.eCommerceWorkflow.Models.RegistrationVM
    

@{
    ViewBag.Title = "Step2GetPlanProducts";
}
<h2>Step2GetPlanProducts</h2>

<form action="" method="post">
  
    @foreach (var product in Model.AvailableProducts)
     {
         <h1>@product.ProductName</h1>
     <h1>@product.ProductDescription</h1>
           
    @Html.TextBoxFor(m => m.QuantityOfProducts[product.ProductName], new {@Value = product.Quantity})
     <h1>WHAT's THE PRICE?</h1>
       }

    <input id="Button1" type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Registration") + "'");" />

    <input type="submit" value="Buy" name="action:Step3GetCustomerInformation" />
</form>
