@using Fusebill.ApiWrapper

@model Fusebill.eCommerceWorkflow.Models.RegistrationVM


@{
    ViewBag.Title = "Step4GetInvoice";
}



<h1 style="margin-top: 200px; text-align:center">Step 4/5: Invoice Preview</h1>
<link href="~/Content/Plan.css" rel="stylesheet" />


<form action="" method="post">
    <p>&nbsp;</p>
        <table class="invoiceTable">
            <tr>
                <td>@Html.Label("First Name:")</td>
                <td>@Html.Label(Model.postedCustomer.FirstName)</td>
            </tr>


            <tr>
                <td>@Html.Label("Last Name:")</td>
                <td>@Html.Label(Model.postedCustomer.LastName)</td>
            </tr>

            <tr>
                <td>@Html.Label("Primary Email:")</td>
                <td>@Html.Label(Model.postedCustomer.PrimaryEmail)</td>
            </tr>

            <tr>
                <td>@Html.Label("Primary Phone:")</td>
                <td>@Html.Label(Model.postedCustomer.PrimaryPhone)</td>
            </tr>

            <tr>
                <td>@Html.Label("Subtotal:") </td>
                <td>@Model.postedCustomer.InvoicePreview.Subtotal
            </tr>

            <tr>
                <td> @Html.Label("Total taxes:")  </td>
                <td>@Model.postedCustomer.InvoicePreview.TotalTaxes
            </tr>
            
            @Model.postedCustomer.InvoicePreview.Total 
            @Html.Label(Model.postedCustomer.InvoicePreview.TotalString)

        <tr>
                <td> @Html.Label("Total:") </td>
                <td>@Model.postedCustomer.InvoicePreview.Total </td>
            </tr>
        </table>

    <br />

    <input type="submit" value="Back" name="action:Step3GetCustomerInformation" style="margin-left: 45%;"/>
    <input type="submit" value="Checkout" name="action:Step5GetPayment" />
</form>

<script>
    var model = @Html.HtmlConvertToJson(Model);
</script>

